/* Changements de base pour la page */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

/* Mise en page du menu */

.my-carousel{
    position: absolute;
    top: 0;
}

.my-nav{
    position: absolute;
    top: 30px;
    z-index: 999;
    width: 95%;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

.my-nav a:hover{
      color: grey;
}
   
.my-nav a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 500ms ease;
}
   
  a:hover:after {
    width: 100%;
}

  .logo{
    color: yellow;
}

.logo:hover{
  color: yellow;
}

/* Mise en page du carousel et des écrits à l'intérieur */

.carousel-content:first-of-type{
    position: absolute;
    bottom: 46%;
    left: 35%;
    z-index: 20;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 30px;
}

.carousel-item:nth-of-type(2) > .carousel-content{
    left: 38%;
}

.carousel-item:nth-of-type(3) > .carousel-content{
    left: 41%;
}

.carousel-item:nth-of-type(4) > .carousel-content{
    left: 42%;
}

.carousel-content>a{
    font-size: 70px;
}

.carousel-content>a:hover{
    color: white;
    opacity: 0.5;
    transition-duration: 0.5s;
}

/* Conteneur du texte sous le slider */
.conteneur{
    background-color: white;
}

.container{
    position: relative;
    z-index: 1;
    color: black;
    margin-top: 1200px;
    background-color: white;
}

section{
    border-bottom: black 2px solid;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 70px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: grey;
}

h3{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

p{
    font-size: 20px;
}

/* Propriétés d'habillage du texte */
.citation{
    text-align: center;
    width: 100%;
    color: grey;
    font-style: italic;
    justify-content: center;
}

section ul li{
    font-size: 20px;
    color: grey;
    list-style-type: square;
}